<% if action_name == "show" %>
<div id="<%= dom_id student %>" class="grid grid-cols-2 gap-4">
  <p class="my-5">
    <strong class="block font-medium mb-1">Curso:</strong>
    <%= student.classroom.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre(s):</strong>
    <%= student.firstname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apellido(s):</strong>
    <%= student.lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nacionalidad:</strong>
    <%= student.nationality %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sexo:</strong>
    <%= student.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha de Nacimiento:</strong>
    <%= student.birth_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Libro:</strong>
    <%= student.birth_book %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Folio:</strong>
    <%= student.birth_folio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Parentesco con quien vive:</strong>
    <%= student.guardian_relationship %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Enfermedades:</strong>
    <%= student.alergies %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Medicamentos que usa:</strong>
    <%= student.drugs %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contacto de emergencia:</strong>
    <%= student.emergency_contact_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefono de Emergencias:</strong>
    <%= student.emergency_contact_phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha de ingreso:</strong>
    <%= student.check_in_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha de retiro:</strong>
    <%= student.check_out_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Condici&oacute;n inicial:</strong>
    <%= translate_initial_condition(student.initial_condition) %>
  </p>
</div>

<% else %>
  <div class="flex items-center">
    <div class="flex-auto">
      <%= student.fullname %> | <%= student.nationality %> | <%= "#{student.age} Años" %>
    </div>
    <div class="flex">
      <%= link_to "Detalles", student, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Editar', edit_student_path(student), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
<% end %>
