<%= form_with(model: student_guardian, class: "contents") do |form| %>
  <div class="flex my-4">
    <div class="flex-auto mr-2">
      <%= form.label :firstname, 'Nombre(s)' %>
      <%= form.text_field :firstname, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex-auto">
      <%= form.label :lastname, 'Apellido(s)' %>
      <%= form.text_field :lastname, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex my-4">
    <div class="flex-auto mr-2">
      <%= form.label :relationship, 'Parentesco' %>
      <%= form.text_field :relationship, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex-auto">
      <%= form.label :nid, 'Cedula' %>
      <%= form.text_field :nid, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-4">
    <%= form.label :address, 'Direccion' %>
    <%= form.text_field :address, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex my-4">
    <div class="flex-auto mr-2">
      <%= form.label :place, 'Paraje' %>
      <%= form.text_field :place, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex-auto">
      <%= form.label :city, 'Municipio' %>
      <%= form.text_field :city, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex my-4">
    <div class="flex-auto mr-2">
      <%= form.label :phone, 'Telefono' %>
      <%= form.text_field :phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex-auto">
      <%= form.label :work_phone, 'Telefono del trabajo' %>
      <%= form.text_field :work_phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex my-4">
    <div class="flex-auto mr-2">
      <%= form.label :occupation, 'Ocupacion' %>
      <%= form.text_field :occupation, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex-auto">
      <%= form.label :education_level, 'Nivel academico alcanzado' %>
      <%= form.text_field :education_level, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-4">
    <%= form.label :notes, 'Observaciones' %>
    <%= form.text_area :notes, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit 'Guardar', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
