<div id="<%= dom_id student_guardian %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre(s):</strong>
    <%= student_guardian.firstname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apellido(s):</strong>
    <%= student_guardian.lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Parentesco:</strong>
    <%= student_guardian.relationship %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">C&eacute;dula:</strong>
    <%= student_guardian.nid %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Direcci&oacute;n:</strong>
    <%= student_guardian.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Paraje:</strong>
    <%= student_guardian.place %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Municipio:</strong>
    <%= student_guardian.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tel&eacute;fono:</strong>
    <%= student_guardian.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tel&eacute;fono del Trabajo:</strong>
    <%= student_guardian.work_phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ocupaci&oacute;n:</strong>
    <%= student_guardian.occupation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nivel Acad&eacute;mico alcanzado:</strong>
    <%= student_guardian.education_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Observaciones:</strong>
    <%= student_guardian.notes %>
  </p>
</div>